<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://24myfree.ru/$1 [L,R]
		# Removes index.php from ExpressionEngine URLs
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_FILENAME}\.php -f
		RewriteRule ^(.*)$ $1.php
		RewriteCond %{REQUEST_FILENAME}\.html -f
		RewriteRule ^(.*)$ $1.html
		RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
		RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]
		RewriteCond %{THE_REQUEST} ^GET.*index\.html [NC]
		RewriteRule (.*?)index\.html/*(.*) /$1$2 [R=301,NE,L]
</IfModule>

# Включаем кэш в браузерах посетителей
<ifModule mod_headers.c>
	# Все html и htm файлы будут храниться в кэше браузера один день
	<FilesMatch "\.(html|htm)$">
		Header set Cache-Control "max-age=43200"
	</FilesMatch>
	# Все css, javascript и текстовые файлы будут храниться в кэше браузера одну неделю
	<FilesMatch "\.(js|css|txt)$">
		Header set Cache-Control "max-age=604800"
	</FilesMatch>
	# Все флэш файлы и изображения будут храниться в кэше браузера один месяц
	<FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
		Header set Cache-Control "max-age=2592000"
	</FilesMatch>
	# Отключаем кеширование php и других служебных файлов
	<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
		Header unset Cache-Control
	</FilesMatch>
</IfModule>

<ifModule mod_expires.c>
	ExpiresActive On
	#по умолчанию кеш в 5 секунд
	ExpiresDefault "access plus 5 seconds"
	# Включаем кэширование изображений и флэш на месяц
	ExpiresByType image/x-icon "access plus 1 month"
	ExpiresByType image/jpeg "access plus 4 weeks"
	ExpiresByType image/png "access plus 30 days"
	ExpiresByType image/gif "access plus 43829 minutes"
	ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
	# Включаем кэширование css, javascript и текстовых файлоф на одну неделю
	ExpiresByType text/css "access plus 604800 seconds"
	ExpiresByType text/javascript "access plus 604800 seconds"
	ExpiresByType application/javascript "access plus 604800 seconds"
	ExpiresByType application/x-javascript "access plus 604800 seconds"
	# Включаем кэширование html и htm файлов на один день
	ExpiresByType text/html "access plus 43200 seconds"
	# Включаем кэширование xml файлов на десять минут
	ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

# сжатие text, html, js, css, xml:
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

ErrorDocument 404 /404.html
ErrorDocument 500 /404.html

AddDefaultCharset UTF-8