@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic,cyrillic-ext";
img{image-rendering:optimizeQuality;image-rendering:-moz-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:optimize-contrast;-ms-interpolation-mode:bicubic}
html{font-size:100%}
html,body{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:0 0}
div,span,applet,object,iframe,h1,h2{}
div,span,applet,object,iframe,h1,h2,h3{}
h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;font-size:100%}
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{}
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table{}
table,caption{margin:0;padding:0;outline:0;background:0 0;font-size:100%}
tbody,tfoot,thead,tr{border:0;vertical-align:baseline}
tbody,tfoot,thead,tr,th,td{margin:0;padding:0;outline:0;background:0 0;font-size:100%}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;font-size:100%}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}
li{list-style:none; */}
td img{vertical-align:top}
input,select,button{padding:0}
input,select,button,textarea{margin:0;font-size:100%}
input[type="text"],input[type="password"],textarea{padding:0}
input[type="checkbox"]{vertical-align:bottom}
input[type="radio"]{vertical-align:text-bottom}
sub{vertical-align:sub}
sub,sup{font-size:smaller}
sup{vertical-align:super}
ins{text-decoration:none}
del{text-decoration:line-through}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
table{border-spacing:0;border:0;border-collapse:collapse}
td,caption,th{border:0;vertical-align:top;}
html,body{height:100%}
body{background:#fff;color:#000;text-align:left;font-size:18px;line-height:28px;}
body,input,select,button,textarea{font-family:'Roboto Condensed',sans-serif;font-weight:400}
label,input[type="button"],input[type="submit"],button{cursor:pointer}
a{color:#fff;text-decoration:none;}
a:visited{color:#fff;text-decoration:none;}
a:hover{color:#fff;text-decoration:none}
a:focus,a:active{color:#fff;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:none}
.FullWidth{width:100% !important}
.B{clear:both;height:0;font-size:0;line-height:0}
.royalSlider{width:784px;height:440px;position:relative;direction:ltr;padding:0 0 28px;margin:0 0 20px}
.rsWebkit3d .rsSlide{-webkit-transform:translateZ(0)}
.rsWebkit3d .rsSlide,.rsWebkit3d .rsContainer,.rsWebkit3d .rsThumbs,.rsWebkit3d .rsPreloader,.rsWebkit3d img,.rsWebkit3d .rsOverflow,.rsWebkit3d .rsBtnCenterer,.rsWebkit3d .rsAbsoluteEl,.rsWebkit3d .rsABlock,.rsWebkit3d .rsLink{-webkit-backface-visibility:hidden}
.rsFade.rsWebkit3d .rsSlide,.rsFade.rsWebkit3d img,.rsFade.rsWebkit3d .rsContainer{-webkit-transform:none}
.rsOverflow,.rsVisibleNearbyWrap{width:100%;height:100%;position:relative;overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.rsVisibleNearbyWrap{left:0;top:0}
.rsVisibleNearbyWrap .rsOverflow{position:absolute;left:0;top:0}
.rsContainer{position:relative;width:100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.rsArrow,.rsThumbsArrow{cursor:pointer}
.rsThumb{float:left;position:relative}
.rsArrow,.rsNav,.rsThumbsArrow{opacity:1;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear}
.rsHidden{opacity:0;visibility:hidden;-webkit-transition:visibility 0 linear .3s,opacity .3s linear;-moz-transition:visibility 0s linear .3s,opacity .3s linear;-o-transition:visibility 0 linear .3s,opacity .3s linear;transition:visibility 0 linear .3s,opacity .3s linear}
.rsGCaption{width:100%;float:left;text-align:center}
.royalSlider.rsFullscreen{position:fixed;height:auto;width:auto;margin:0;padding:0;z-index:2147483647;top:0;left:0;bottom:0;right:0}
.royalSlider .rsSlide.rsFakePreloader{opacity:1;-webkit-transition:0;-moz-transition:0s;-o-transition:0;transition:0;display:none}
.rsSlide{position:absolute;left:0;top:0;display:block;overflow:hidden;text-align:center;height:100%;width:100%}
.royalSlider.rsAutoHeight,.rsAutoHeight .rsSlide{height:auto}
.rsContent{width:100%;height:100%;position:relative}
.rsPreloader{position:absolute;z-index:0}
.rsNav{text-align:center;width:100%;position:relative;overflow:hidden}
.rsNavItem{cursor:pointer;width:12px;height:12px;display:inline-block;margin:0 5px;background:url(/img/sprite.png) no-repeat -134px -220px}
.rsNavSelected{background:url(/img/sprite.png) no-repeat -134px -201px}
.rsThumbs{cursor:pointer;position:relative;overflow:hidden;float:left;z-index:22}
.rsTabs{float:left;background:none !important}
.rsTabs,.rsThumbs{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.rsVideoContainer{width:auto;height:auto;line-height:0;position:relative}
.rsVideoFrameHolder{position:absolute;left:0;top:0;background:#141414;opacity:0;-webkit-transition:.3s}
.rsVideoFrameHolder.rsVideoActive{opacity:1}
.rsVideoContainer iframe,.rsVideoContainer video,.rsVideoContainer embed,.rsVideoContainer .rsVideoObj{position:absolute;z-index:50;left:0;top:0;width:100%;height:100%}
.rsVideoContainer.rsIOSVideo iframe,.rsVideoContainer.rsIOSVideo video,.rsVideoContainer.rsIOSVideo embed{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:44px}
.rsABlock{left:0;top:0;position:absolute;z-index:15}
img.rsImg{max-width:none}
.grab-cursor{cursor:url(/img/grab.png) 8 8,move}
.grabbing-cursor{cursor:url(/img/grabbing.png) 8 8,move}
.rsNoDrag{cursor:auto}
.rsLink{left:0;top:0;position:absolute;width:100%;height:100%;display:block;z-index:20;background:url(/img/blank.gif)}
.rsPlayBtn{-webkit-tap-highlight-color:rgba(0,0,0,.3);width:64px;height:64px;margin-left:-32px;margin-top:-32px;cursor:pointer}
.rsPlayBtnIcon{width:64px;display:block;height:64px;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;background:url(/img/rs-default.png) no-repeat 0 -32px;background-color:#000;background-color:rgba(0,0,0,.75)}
.rsPlayBtn:hover .rsPlayBtnIcon{background-color:rgba(0,0,0,.9)}
.rsBtnCenterer{position:absolute;left:50%;top:50%}
.rsCloseVideoBtn{right:0;top:0;width:44px;height:44px;z-index:500;position:absolute;cursor:pointer;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0)}
.rsCloseVideoBtn.rsiOSBtn{top:-38px;right:-6px}
.rsCloseVideoIcn{margin:6px;width:32px;height:32px;background:url(/img/rs-default.png) -64px 0;background-color:#000;background-color:rgba(0,0,0,.75)}
.rsCloseVideoIcn:hover{background-color:rgba(0,0,0,.9)}
div.news-list{word-wrap:break-word}
div.news-list img.preview_picture{float:left;margin:0 4px 6px 0}
.news-date-time{color:#486DAA}
div.bx-system-auth-form span.bx-auth-secure{background-color:#FFFAE3;border:1px solid #DEDBC8;padding:2px;display:inline-block;vertical-align:bottom;margin-top:-1px}
div.bx-system-auth-form div.bx-auth-secure-icon{background-image:url(/img/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}
div.bx-system-auth-form div.bx-auth-secure-unlock{background-image:url(/img/sec-unlocked.png)}
.ImgLeft{float:left;padding:0 25px 20px 0}
.ImgRight{float:right;padding:0 0 20px 25px}
.ImgBig{padding:0 0 29px;margin:0 -25px}
.TextSmall{font-size:8px}
.WidthPage{width:1230px;margin:0 auto}
.WidthMain{width:1036px;min-height:650px;position:relative;margin:0 auto}
.SiteSelect{font-size:26px;line-height:38px}
.SiteSelect a{color:#fff;text-decoration:none}
.BannerBlock{height:115px}
.MainMenuBlock{position:relative;margin:-29px 0 0}
.MainMenuSkew{-webkit-transform:skew(-45deg);transform:skew(-45deg);height:57px;box-shadow:0 0 8px rgba(0,0,0,.38)}
.MainMenuSkew,.AdminMenuSkew{position:relative;margin:0 33px;overflow:hidden;z-index:10;padding:0px 0 0 100px}
.AdminMenuSkew{height:30px}
.Main{background:url(background.svg) no-repeat center center fixed}
.MainSite, .MainMenuSkew{background:#F2834B}
.MainSite .RightCorner,.MainSite .LeftCorner,.MainSite .RightBackCorner{border-bottom-color:#0c3846;border-top-color:#0c3846;border-left-color:#0c3846}
.Games{background:url(background.svg) no-repeat center center fixed}
.GamesSite{background:#c51518}
.GamesSite .RightCorner,.GamesSite .LeftCorner,.GamesSite .RightBackCorner{border-bottom-color:#c51518;border-top-color:#c51518;border-left-color:#c51518}
.Films{background:url(background.svg) no-repeat center center fixed}
.FilmsSite{background:#2f3d69}
.FilmsSite .RightCorner,.FilmsSite .LeftCorner,.FilmsSite .RightBackCorner{border-bottom-color:#2f3d69;border-top-color:#2f3d69;border-left-color:#2f3d69}
.Anime{background:url(background.svg) no-repeat center center fixed}
.AnimeSite{background:#8417c8}
.AnimeSite .RightCorner,.AnimeSite .LeftCorner,.AnimeSite .RightBackCorner{border-bottom-color:#8417c8;border-top-color:#8417c8;border-left-color:#8417c8}
.Books{background:url(background.svg) no-repeat center center fixed}
.BooksSite{background:#a8a8a8}
.BooksSite .RightCorner,.BooksSite .LeftCorner,.BooksSite .RightBackCorner{border-bottom-color:#a8a8a8;border-top-color:#a8a8a8;border-left-color:#a8a8a8}
.Hardware{background:url(background.svg) no-repeat center center fixed}
.HardwareSite{background:#2F3038}
.HardwareSite .RightCorner,.HardwareSite .LeftCorner,.HardwareSite .RightBackCorner{border-bottom-color:#2F3038;border-top-color:#2F3038;border-left-color:#2F3038}
.MainMenu{-webkit-transform:skew(45deg);transform:skew(45deg);margin:0 -28px 0 0}
.MainMenu{position:relative;overflow:hidden;padding:0;}
.MainMenu li{width:350px;float:left;font-size:28px;text-align:center;}
.MainMenu li{-webkit-transform:skew(-45deg);transform:skew(-45deg);line-height:57px;border-left:5px solid #fff;}
.MainMenu a{display:block;text-decoration:none}
.MainMenu a{-webkit-transform:skew(45deg);transform:skew(45deg);color:#fff}
.MainMenu li.SelectedMM{border-bottom:5px solid #fff;height:54px;}
.Main .MainMenu li.SelectedMM, .Anime .MainMenu li.SelectedMM,.Games .MainMenu li.SelectedMM,.Films .MainMenu li.SelectedMM,.Books .MainMenu li.SelectedMM{background:#FBAD76;}
.Logo{position:absolute;top:-77px;left:-12px;z-index:10020}
.LogoImg{position:relative;margin:-30px}
.MainSide{background:#fff;font-weight:400;position:relative}
.BeforeWrapList .PopUpBlock{bottom:205px}
.PostHead{height:490px;position:relative;overflow:hidden;color:#fff;margin:0 0 16px}
.PostHead img{position:absolute;top:0;left:0}
.PostDetail .PopUpBlock{bottom:135px;width:704px}
.Post .PopUpBlock h3{position:relative;left:auto;bottom:auto}
.PopUpBlock{position:absolute;bottom:160px;left:0;z-index:10;width:956px;padding:0 40px}
h3{font-weight:600;font-size:36px;line-height:44px;text-shadow:0 0 5px #000;text-align:center;width:100%}
h3 a{text-decoration:none;color:#fff;text-shadow:1px 1px 1em #fff, 1px 1px 1px #000}
.AuthorPostBlock{text-shadow:0 0 5px #000;z-index:10;position:absolute;bottom:30px;right:40px;text-align:right}
.AuthorPost{font-weight:300;font-size:24px;line-height:30px}
.DatePost,.IcoBlock{font-weight:400;font-size:14px;line-height:18px}
.IcoBlock{text-align:right;margin:17px 0 0;position:relative;color:#fff;overflow:hidden}
.IcoBlock a{text-decoration:none;color:#fff}
.Views{float:right;background:url(/img/sprite.png) no-repeat -132px -147px;padding:0 0 0 22px}
.Comments{float:right;background:url(/img/sprite.png) no-repeat -132px -174px;padding:0 0 0 20px;margin:0 0 0 22px}
.Post{background:#fff;width:784px}
.PostText{padding:0 25px 32px;position:relative;overflow:hidden}
.PostText p{padding:0 0 10px}
.PostText a{color:#f45706}
.Post h3{position:absolute;left:0;bottom:145px}
.LeftSideBlock{float:left}
.LeftSideBlock,.RightSideBlock{width:200px;min-height:235px;padding:0 25px 25px}
.RightSideBlock{float:right}
.CommentsBlock{background:#f5f6f9;padding:15px 28px 60px}
.CommentsBlock,.Comment{position:relative;overflow:hidden}
.Comment{margin:0 0 15px}
.ArromReplay{background:url(/img/sprite.png) no-repeat -133px -246px;padding:0 19px 0 0;margin:0 10px}
.ComIco{float:left;width:70px;margin:0 15px 0 0}
.ComIco img{border-radius:35px}
.ComMessage{float:left;width:839px}
.ComSys{position:relative;overflow:hidden;font-weight:600;font-size:16px;line-height:20px;vertical-align:baseline}
.ComSys,.ComSys a{color:#000}
.ComDate{font-weight:400;font-size:14px;padding:0 0 0 5px}
.ComText{font-size:14px;line-height:29px}
.ComText a{color:#f45706}
.ComReplyBlock{line-height:24px;font-size:12px;visibility:hidden}
.ComReplyBlock a{color:#e51c23}
.ComReply{float:right;background:#d31c23;padding:0 15px;text-align:center;color:#fff;line-height:24px;font-size:12px}
.DepthLevel{float:left;width:5px;height:5px;margin:33px 25px 0 0;background:url(/img/sprite.png) no-repeat -144px -518px}
.ComReply a{text-decoration:none;color:#fff;text-align:center}
.ComReply input{background:0 0;border:none;color:#fff;text-align:center;margin:0 15px 0 15px}
.NewComment{position:relative;overflow:hidden;margin:0 0 25px;color:#000;text-align:center}
.NewComment .leave_comment_link{color:#000}
.NewComment .ComMessage{float:none;margin:0 auto}
#CancelReply{color:#e51c23;cursor:pointer;float:right;padding:5px;margin:0 10px 0 0;line-height:20px;font-size:12px}
.ReplyBlock{position:relative;overflow:hidden;/* margin:0 0 25px; */display:none;width:100%}
.ReplyText{float:left;width:628px;line-height:0;margin:0 0 10px}
.ReplyText textarea{width:608px;font-weight:300;line-height:24px;padding:10px;resize:none}
.ReplyBlock .bxlhe-frame{position:relative;overflow:hidden;width:617px !important;margin:0 0 10px}
.RightSide{float:right;width:252px;box-shadow:0 0 8px rgba(0,0,0,.78)}
.SliderInteres{line-height:0;font-size:0}
.RightBannerBlock{padding:6px 7px 6px 6px}
.RightBannerBlock,.RightBannerBlock a{line-height:0;font-size:0}
.RightNews{position:relative;overflow:hidden;height:220px;color:#fff;text-shadow:0 0 5px #000;padding:18px 22px 0}
.RightNews img{position:absolute;top:0;left:-50%}
.RightNews .DatePost{position:absolute;right:22px;bottom:38px}
.NameRN{position:relative;z-index:10;font-weight:600;font-size:24px;line-height:30px;height:155px;overflow:hidden}
.TextRN{position:relative;font-size:14px}
.TextRN,.AuthorRN{z-index:10;line-height:24px}
.AuthorRN{position:absolute;font-weight:300;right:22px;bottom:15px}
.MainPage{position:relative;overflow:hidden}
.MainPage .PostHead{margin:-95px 0 0;height:650px}
.MainPage .PostHead:first-child{margin:0 !important}
.SecondBanner{padding:0 7px 6px 6px !important}
.InfoGPBlock{background:#fff;position:relative;padding:55px 0 0;color:#000}
.InfoGPBlock a{color:#000}
.ImgGP{position:absolute;font-size:0;line-height:0;top:55px;left:70px;z-index:10}
.InfoGP{position:relative;padding:0 0 20px 350px}
.NameGP{font-size:27px;line-height:32px;font-weight:600}
.DevelopGP{font-size:16px;line-height:24px}
.CommingGP{font-size:12px;line-height:16px}
.TypeGP{position:relative;overflow:hidden;margin:15px 0 0}
.LogoTGP{float:left;margin:0 40px 0 0}
.PlatformGP{position:absolute;right:33px;top:34px;width:155px}
.LogoPGT{float:left;width:57px;text-align:center;margin:0 20px 17px 0}
.LogoPGT:nth-child(2n){margin:0 0 17px}
.LogoPGT div{margin:0 auto}
.TextGPBlock{background:#fcfcfc;padding:20px 50px 20px 350px;position:relative;overflow:hidden}
.TextGP{font-size:14px;float:left;width:473px;line-height:24px;padding:0 5px 0 25px;background:url(/img/sprite.png) no-repeat -146px -394px}
.TextGPEnd{background:url(/img/sprite.png) no-repeat -52px -364px;padding:0 15px 14px 0;margin:0 0 0 10px}
.Rating{text-align:center;background:url(/img/sprite.png) no-repeat 0 0;width:133px;height:116px;float:left;font-size:76px;padding:50px 0 0}
.ListGP{position:relative;overflow:hidden;padding:45px 0 0;background:#fff}
.ListGP p{text-align:center;padding:0 0 30px}
.GameListBG{background:url(/img/game_list.png) no-repeat 100% 0;position:absolute;font-size:0;line-height:0;left:0;top:45px;z-index:10001;height:79px;width:1036px}
.GameList{width:518px;height:360px;float:left;position:relative}
.GameList a{color:#fff}
.GameList:first-child{margin:-45px 0 0}
.GameList h3{position:absolute;font-size:24px;line-height:44px;color:#fff;bottom:110px;padding:0;width:450px;text-align:left;left:40px}
.GameList .AuthorPostBlock{color:#fff;bottom:28px;right:31px}
.GameList .AuthorPost{font-size:18px;line-height:22px}
.GameList .DatePost{font-size:12px;line-height:16px}
.GameList .IcoBlock{margin:6px 0 0}
.GameListWrap{position:relative;overflow:hidden;margin:-92px 0 0 0}
.GameListWrap:first-child{margin:0}
.PageNav{background:#fff;position:relative;margin:0 auto;padding:15px 0}
.Nav{float:left;font-size:14px}
.Nav a{padding:0 17px;color:#000;text-decoration:none}
.NavSelected{-moz-transform:skew(-45deg);-ms-transform:skew(-45deg);-webkit-transform:skew(-45deg);-o-transform:skew(-45deg);transform:skew(-45deg);background:#d31c23}
.NavSelected span{-moz-transform:skew(45deg);-ms-transform:skew(45deg);-webkit-transform:skew(45deg);-o-transform:skew(45deg);transform:skew(45deg);padding:0 17px;display:block;color:#fff}
.MoreMain{font-size:24px;line-height:30px;color:#fff;text-align:center;margin:-17px 0 0;padding:0 0 15px;position:relative;z-index:999}
.MoreMain a{background:url(/img/sprite.png) no-repeat 56px -383px;font-weight:200;padding:0 30px 0 0;text-decoration:none;color:#fff}
#sizen{display:none}
.LoaderAjaxLife{font-size:24px;line-height:30px;color:#fff;text-align:center;margin:-17px 0 0;padding:0 0 15px;position:relative;z-index:999}
.SectionName a{text-decoration:none}
.SiteClosed{background:url(/img/bg.jpg) no-repeat 50% 0;height:850px;min-width:1280px}
.TrackList{width:980px;margin:0 auto;position:relative;height:780px}
.TrackList a{cursor:default;display:block;position:absolute}
#bikov{top:470px;left:225px;width:90px;height:60px}
#default{left:10px;top:35px;width:155px;height:155px}
#vova{top:690px;left:840px}
#vova, #onty{width:90px;height:50px}
#onty{top:270px;left:710px}
#gogov{top:490px;left:-70px;width:50px;height:90px}
#chifa{top:390px;left:860px;width:120px;height:130px}
#cheburan{top:380px;left:465px;width:120px;height:70px}
.VideoDetail{text-align:center;line-height:0;font-size:0;margin:0 0 20px}
.ThumbsVideo{position:relative;overflow:hidden;display:none}
.ThumbV:nth-child(3n){margin:0 0 31px}
.ThumbV{float:left;width:240px;height:134px;margin:0 31px 31px 0}
.ThumbV img{cursor:pointer}
.NoArts{background:#fff;padding:50px 0;text-align:center}
.BigVideo{text-align:center;margin:20px -25px}
.PopUpText{margin:10px 0 0 120px;width:600px}
#ya_share{padding:0 0 30px}
#ya_share .b-share{padding:1px 0 !important}
.BottomPanel{z-index:10022;position:fixed;bottom:0;left:0;width:100%;height:47px;background:#d31c23;box-shadow:0 0 8px rgba(0,0,0,.3)}
.IconsBP{display:block;width:36px;float:left;height:36px;margin:0 25px 0 0}
.BottomButtons{margin:6px auto 0;position:relative;overflow:hidden}
.LogoSkew{display:none}
.Branding{position:absolute;left:0;top:197px;width:100%;min-width:650px;height:100%;text-decoration:none}
.NotFoundBg{background:url(background.svg) 0% 0;text-transform:uppercase;color:#fff;text-shadow:0 4px 0 #000;text-align:center;height:100%}
.LogoBlock{position:relative;overflow:hidden;padding:150px 0 0;text-align:left}
.LogoBlock .WidthPage{z-index:20}
.LogoNF{float:left;line-height:0;font-size:0;position:relative;margin-top:-20px}
.LogoText{float:left;font-size:62px;line-height:66px}
.LogoText p{font-size:44px;line-height:50px}
.TextLine{background:#FF8C00;font-size:50px;line-height:55px;padding:42px 0}
.BikovNegoduet{position:relative;padding:198px 0 0;text-align:left}
#bt_two, #bt_two_text{display:none}
#bt_one{top:-240px}
#bt_one, #bt_two{position:absolute;right:0}
#bt_two{top:-140px}
.NoWay{width:auto;height:100%}
.PostText .royalSlider{margin:0 0 20px -25px}
#bukvus{position:fixed;display:none;bottom:0;opacity:.9;background:#333;padding:10px 0;text-align:center;color:#fff;z-index:99;cursor:pointer;width:100%}
.LoginForm{display:none;position:absolute;top:0;left:170px;width:309px;font-weight:400;font-size:20px;line-height:30px;z-index:1}
.LoginForm ul{position:relative;overflow:hidden;background:#e51c23;height:34px;background:url(/img/soc_bg.png) no-repeat 0 -27px}
.LoginForm li{float:left;cursor:pointer;height:31px;color:#fff;padding:0 26px}
.LoginForm li:first-child{padding:0 24px 0 57px}
.LoginForm li.SelectLogin{border-bottom:3px solid #fff;font-weight:600}
.PoleLF{background:#000;font-size:0;line-height:0;margin:0 0 9px;position:relative;overflow:hidden}
.PoleLF input{height:26px;width:223px;border:none;line-height:26px;font-size:14px;color:#fff;float:left;background:#000}
.PoleLF input::-webkit-input-placeholder,.PoleLF input:-moz-placeholder,.PoleLF input::-moz-placeholder,.PoleLF input:-ms-input-placeholder{color:#838080}
.PoleLFOr{font-size:14px;line-height:26px;color:#fff;margin:0 0 9px;position:relative;overflow:hidden}
.LoginInput{background:url(/img/sprite.png) no-repeat -99px -330px}
.LoginInput,.LoginInputBlack{float:left;width:30px;height:26px}
.LoginInputBlack{background:url(/img/sprite.png) no-repeat -94px -239px}
.MailInput{background:url(/img/sprite.png) no-repeat -99px -359px}
.MailInput,.MailInputBlack{float:left;width:30px;height:26px}
.MailInputBlack{background:url(/img/sprite.png) no-repeat -95px -264px}
.PassInput{background:url(/img/sprite.png) no-repeat -109px -385px}
.PassInput,.PassInputBlack{float:left;width:30px;height:26px}
.PassInputBlack{background:url(/img/sprite.png) no-repeat -106px -436px}
.SaveInput{float:left;width:30px;height:28px;background:url(/img/sprite.png) no-repeat -58px -508px}
.SocialLogin{background:url(/img/soc_bg.png) no-repeat 0 0;height:27px;position:absolute;overflow:hidden;bottom:-27px;left:0;width:309px}
#login, #reg{padding:16px 16px 16px 40px;background:#d31c23;box-shadow:2px 2px 2px rgba(0,0,0,.2)}
#reg{display:none}
.Captcha{margin:14px 0 0}
.Captcha,.CaptchaImg{position:relative;overflow:hidden}
.CaptchaImg{float:left;width:105px;font-size:0;line-height:0}
.Captcha .PoleLF{float:right;margin:7px 0 0}
.Captcha .PoleLF input{width:100px;text-align:center}
.LodtPass a{display:block;position:absolute;right:5px;top:5px;z-index:5;font-size:12px;line-height:15px}
.LodtPass input{width:160px}
.LoginButton{position:relative;overflow:hidden;margin:13px 0 15px}
.LoginButton input{border:none;background:#e51c23;color:#fff;font-size:14px;line-height:20px;float:right;height:26px;padding:0 17px 0 0}
.LoginSubmit{float:right;width:30px;height:26px;background:url(/img/sprite.png) no-repeat -108px -410px #e51c23}
.LoginButton .LoginInput,.LoginButton .PassInput{float:right;background-color:#e51c23}
.LoginPopUp{font-size:14px;line-height:28px;text-transform:uppercase;position:absolute;bottom:60px;left:0px;color:#fff;z-index:6;cursor:pointer;text-align:center;width:100%}
.LogoutPopUp{font-size:14px;line-height:28px;text-transform:uppercase;position:absolute;bottom:60px;left:0px;color:#fff;z-index:6;cursor:pointer;text-align:center;width:100%}
.CSocServFacebook a{display:block;width:70px;height:16px;background:url(/img/sprite.png) no-repeat 0 -554px;float:left;margin:3px 17px 0 47px}
.CSocServVKontakte a{display:block;width:97px;height:18px;background:url(/img/sprite.png) no-repeat 0 -538px;margin:5px 0 0 47px;float:left}
.SocialLogin span{display:none}
.blog-comment-meta a{color:#000;font-size:11px;line-height:14px}
.blog-add-comment{text-align:center;margin:0 0 15px}
.blog-add-comment a{color:#000}
.MenuItem{position:relative;font-weight:200;float:left}
.LeftAlign{float:left;margin:0 42px 0 0}
.RightAlign{float:right;margin:0 0 0 42px;padding:0 20px 0 0}
.LeftArrow{background:url(/img/sprite.png) no-repeat -138px 1px}
.LeftArrow,.RightArrow{width:24px;height:42px;float:left}
.RightArrow{background:url(/img/sprite.png) no-repeat -138px -42px}
.NameItem{float:left;height:42px;padding:0 20px}
.RightCorner{float:left;width:0;height:0;border-bottom:42px solid;border-right:42px solid transparent !important;margin:0 -42px 0 0}
.RightSecond{float:right}
.RightBackCorner{border-bottom:42px solid}
.RightBackCorner,.LeftCorner{float:left;width:0;height:0;border-left:42px solid transparent !important;margin:0 0 0 -42px}
.LeftCorner{border-top:42px solid}
.CenterSite{height:42px;font-weight:400;text-align:center}
.PersonalProfile{background:#d31c23;position:relative;overflow:hidden}
.LeftProfile{background:#d31c23;float:left;width:55px;margin:80px 0 0;text-align:center;font-size:8px;line-height:12px;text-transform:uppercase}
.LeftProfile a,.LoginBlock{display:block;width:55px;height:47px;padding:13px 0 0;line-height:5px;color:#fff}
.Lk{display:block;margin:0 auto;width:17px;height:18px;background:url(/img/sprite.png) no-repeat -17px -349px}
.MainProfileWrap{background:#fff;min-height:650px;padding:40px 0 0}
.MainProfileWrap,.MainProfile{position:relative;overflow:hidden}
.ProfilePhoto{float:left;margin: 10px 23px 10px 65px;text-align:center;}
.ProfilePhoto,.ProfileImg{width:170px;position:relative;overflow:hidden}
.ProfileImg{height:170px;line-height:170px;margin:0 0 10px}
.ProfileImgOverlay{display:none;width:170px;height:170px;position:absolute;top:0;left:0;background:url(/img/profile_overlay.png) no-repeat 0 0;z-index:5}
.ProfileImgLoad{font-size:12px;line-height:16px}
.ProfileImgLoad label{height:28px;background:#e51c23;display:block;width:170px;line-height:28px;color:#fff;text-align:left}
.ProfileImgLoad input{display:none}
.ProfileImgLoadIcon{float:left;width:28px;height:28px;background:url(/img/sprite.png) no-repeat -116px -507px;margin:0 0 0 15px}
.ProfileImgDelete{position:absolute;bottom:0;right:0;height:28px;background:#e51c23;padding:0 0 0 10px}
.ProfileImgDelete label{float:left;background:url(/img/sprite.png) no-repeat -88px -506px;height:28px;width:28px}
.ProfileImgDelete input{float:left;width:13px;height:13px;margin:8px 0 0}
.ProfileInfo{position:relative;overflow:hidden;width: 900px;margin: 0 auto;}
.ProfileInfo a{color: #f45706;}
.ProfileInfo .gender {height:28px}
.ProfileInfo .gender p{float: left}
.ProfileInfo img{margin-left:5px}
.ProfileBlock{float:left;width:281px;margin:0 23px}
.ProfilePole{position:relative;overflow:hidden;margin:0 0 15px;line-height:0;border:1px solid #c6c6c6}
.ProfilePole input{font-size:14px;color:#000;border:none;width:249px;height:26px;line-height:26px}
.ProfileSubmit{float:right;margin:0 32px 0 0;background:#e51c23;line-height:0;padding:0 20px}
.ProfileSubmit input{background:0 0;border:none;color:#fff;font-size:12px;line-height:28px;height:28px}
.soc-serv-main{position:relative;overflow:hidden;margin:0 0 0 65px}
.MessageProfile{margin:10px 0 10px 65px}
.EroorAuth{padding:40px 0 0;text-align:center}
.EroorAuth,.UserProfile{background:#fff;min-height:650px}
.UserProfile{padding-top: 40px;position:relative;overflow:hidden;}
.ErrorAuth{font-size:14px;line-height:20px;margin:0 0 5px;color:#fff}
.ErrorAuth .errortext{color:#fff}
.BackToAuth{text-align:right;font-size:14px;line-height:20px}
.LoginPersonal{font-size:14px;line-height:28px;text-transform:uppercase;position:absolute;top:50px;left:0px;color:#fff;z-index:6;cursor:pointer;text-align:center;width:100%}
.LoginPersonal a{color:#fff}
#do_login{color:#000}
.Mannnnn{position:fixed;z-index:10020;margin:310px 0 0 -140px}
.MannnnnCloud{display:none}
.MannnnnWrap{width:1036px;position:relative;margin:0 auto}
.CommentOff{text-align:center;color:red;padding:0 0 30px}
.CommetsSort{text-align:center;margin:0 0 20px 0}
.CommetsSort a{color:#000;display:inline-block;height:40px;line-height:40px;margin:0 20px}
a.CommetsBySelect{color:#fff;background:#d31c23;position:relative}
a.CommetsBySelect:before{content:'';position:absolute;top:0;left:-40px;width:0;height:0;border-bottom:40px solid #d31c23;border-left:40px solid transparent !important}
a.CommetsBySelect:after{content:'';position:absolute;top:0;right:-40px;width:0;height:0;border-top:40px solid #d31c23;border-right:40px solid transparent !important}
#mc-container{padding:25px}
table.activity_datatable select {width:100%}
table.activity_datatable input {width:100%;border: 0;color: #6c6c6c;}
table.activity_datatable input[type="radio"]{width: initial;vertical-align: middle;margin: 0 5px;}
table.activity_datatable th{background-color:#F8F8F8;text-transform:uppercase;color:#6c6c6c;padding: 10px;border-right:solid 1px #e5e5e5;text-align: center;}
table.activity_datatable td{padding: 10px;color:#6c6c6c;vertical-align:middle;}
table.activity_datatable tr{border:solid 1px #e5e5e5}
table.activity_datatable a{color:#363e40;text-decoration:none}
table.activity_datatable span.pj_cat{display:inline-block;padding:3px 5px;font-size:10px;text-transform:uppercase;color:#fff;border-radius:3px}
table.activity_datatable span.stat_up{color:#637b11}
table.activity_datatable span.stat_down{color:#7b1111}
table.activity_datatable span.iconsweet{font-size:17px}
table.activity_datatable span.data_actions a{color:#6c6c6c;float:right;margin-right:1px;padding:0px 5px}
table.activity_datatable span.green_highlight{background:#87ac51}
table.activity_datatable span.grey_highlight{background:#757673}
table.activity_datatable span.blue_highlight{background:#4572a7}
footer button {position:relative;width:100%;padding:14px 16px;margin:0;outline:none;border:none;background-color:#ddd;color:#000;text-align:center;text-decoration:none;font-weight:normal;font-size:12px;font-family:Arial,Helvetica,Verdana,Tahoma,sans-serif !important;line-height:1;cursor:pointer}
footer button:hover {color:#777;background:none;background:#bbb;text-decoration:none}
footer button.redactor-modal-action-btn {background:none;color:#fff;background-color: #f2834b;}
footer button.redactor-modal-action-btn:hover {color:rgba(255,255,255,0.6);background-color: #c76b3d;}